//* color de fondo */
body {
    background-color: #4b4c4d; }
  // alinear texto
  .texto2{
       display: flex;
      flex-direction: column;
      justify-content:center ;
      text-align: center;
  }
  // alinear imagen
  .imgsecundarias {
    display: flex;
    align-items: center; }
  
  /* es para alinear las imagenes */
  .noticiasDiv {
    background-color: #d5d4d4;
    display: flex; }
  
  /* es la parte de abajo de abajo lo puse por poner */
  .numeros {
    text-align: center; }
   /* me centra el texto de videos recomendados */ 
  .alinear {
      text-align: center; 
  }
  
  